<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student Information</h2>

<p><b>Name:</b> <%= student.name %></p>
<p><b>PEN:</b> <%= student.pen %></p>
<p><b>Gender:</b> <%= student.gender %></p>
<p><b>Father Name:</b> <%= student.father_name %></p>
<p><b>Mother Name:</b> <%= student.mother_name %></p>
<p><b>Class:</b> <%= student.class %></p>
<p><b>Section:</b> <%= student.section %></p>
<p><b>Category:</b> <%= student.category %></p>
</body>
</html>